{% for tag in post.tags %}
<span class="tag">#{{ tag }}</span>
{% endfor %}
</div>
{% endif %}
</article>

<!-- Toast UI Viewer CSS -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" />
<link rel="stylesheet"
    href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css" />

<!-- Toast UI Viewer JS -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
<script
    src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

<script>
    const Viewer = toastui.Editor;
    const { codeSyntaxHighlight } = Viewer.plugin;
    const content = document.getElementById('post-content-hidden').value;

    const viewer = new Viewer.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: content,
        plugins: [[codeSyntaxHighlight, { highlighter: Prism }]]
    });
</script>
{% endblock %}